
<div class="container">
  <app-header [array]="headerArr"></app-header>
  <!-- <div class="loader"> Loader</div> -->
  <!-- <div>
    <mat-toolbar color="primary">Hello</mat-toolbar>
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
  </div> -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="loader">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div> -->
  
  <app-header [array]="footerArr"></app-header>
</div>