<!-- <div class="entrance">
    <div class="input-group mb-3">
        <input type="text" class="list-group-item">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="list-group-item">
    </div>
    <div class="entrance__btn">
        <button class="btn btn-success">Sing up</button>
        <button class="btn btn-primary">Registration</button>
    </div>
</div> -->
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 entrance__btn">
        <app-my-button [type]="'submit'" [color]="'success'">Sing in</app-my-button>
        <app-my-button [type]="'submit'" [color]="'primary'">Registration</app-my-button>
    </div>
  </form>