/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.loader {
    position: fixed;
    width: 100%;
    z-index: 99;
}

mat-progress-spiner {
    position: absolute;
    top: calc((100vh - 50vh) + 50px);
    left: calc((100vw - 50vw) + 50px);
    transform: translate(-50%, -50%);
    z-index: 5;
}
